body.home {
    background-image: url('images/bg1.jpg'); 
    backdrop-filter: blur(6px);
    width: 100vw;
    height: 100vh; 
    margin: 0;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    background-color:rgba(57, 77, 49, 0.8); 
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 20px;
    border: 1px solid rgba(57, 77, 49, 0.18);
    margin-top: 2vw;
    height: 66vh; 
    width: 22vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container {
        padding: 4.7vw;
        padding-top: 0vw;
    }
    line-height: 3vw; }


.logo {
    width: 200px; 
    margin-bottom: 1rem; 
}


.container .btn {
    padding-bottom:4px ;
    width: 15vw;
    height: 6vh; 
    font-size: large;
    text-decoration: none; 
    color: #ffffff; 
    background-color: #5a7f55; 
    border-radius: 20px; 
    margin: 0 auto; 
    text-align: center;
    background-color: #929c7c
}
.container .btn a {
    font-family: "Zain";
}


.btn:hover {
    transform: scale(1.05);
    background-color: #cbd4aeda;
    color: white;
}
.container p {
    text-align: center;
    color: white; 
    font-size: 1.1vw; 
    font-weight: 100;
  font-family: "Zain", serif;
 
    
}
.container p :hover{
    color:#929c7c
}
.container p a {
    font-family: "Zain";
    text-decoration: none;
    color: white; 
}
