body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

#logout {
    position: relative;
    left: 90%;
}
table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vw;
    text-align: center;
  }

  .info {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }

  nav li {
    list-style: none;
  }